/*------acceptCancelPopup (acpp)------*/
.acceptCancelPopup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

#uploadExcelPopup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
#uploadExcelcontent{
    margin: 9% 38%;
    padding: 10px 20px;
    width: 350px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    border: var(--color1) solid 3px;
    font-size: 14px;
}

#uploadInputContent{
    border:var(--color1) solid 2px;
    padding: 10px 4px;
    border-radius: 3px;
    text-align: center;
}

#excelErrors{
    font-size:13px;
    color:var(--errorColor);
    text-align: center;
    font-weight: bold;
}

/*-----contents-----*/
.acceptCancelContent{
    margin: 10% 43%;
    padding: 10px 20px;
    width: max-content;
    max-width: 400px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    border: var(--color1) solid 3px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.acppContent1{
    margin: 23% 42%;
    padding: 10px 20px;
    width: 400px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    border: var(--color1) solid 3px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.acppContent2{
    margin: 15% 43%;
    padding: 8px 20px;
    width: 350px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    border: var(--color1) solid 3px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.acceptCancelClosePopup{
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 11px;
    border: var(--color1) solid 2px;
    color: var(--color3);
    background-color: var(--color1);
    padding: 1px 4px;
    cursor: pointer;
}

.acceptCancelIcon{
    position: absolute;
    top: 3px;
    left: 6px;
    font-size: 20px;
    color: var(--color1);
    padding: 1px 4px;
}

.acceptCancelClosePopup:hover{
    background-color: var(--color3);
    color: var(--color1);
    font-weight: bold;
}

.acceptCancelTitle{
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

.acceptCancelText{
    margin: 30px 0px 0px 0px;
    text-align: center;
}

.acppText2{
    margin: 20px 0px 8px 0px;
    text-align: center;
}

.acceptCancelInputs{
    border-radius: 5px;
    border: var(--color1) solid 2px;
    padding: 10px 20px;
    position: relative;
}

#createPopupContent{
    margin: 1% 20%;
    max-width: 1100px !important;
    width: 900px !important;
    height: 650px;
    position: relative;
}

#cuppTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    position: relative;
    width: 600px;
    margin: auto;
}

#cuppTitleIcon{
    cursor:pointer;
    color:var(--color4)
}

#createUsersQty{
    position: absolute;
    font-size: 12px;
    background-color: var(--color3);
    left: 375px;
    top: 100%;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    z-index: 1;
    display: none;
    width: 200px;
    text-align: left;
    font-weight: lighter;
}

#createUserData{
    height: 600px;
}

#createCommissionData{
    max-height: 120px;
}

#createError{
    display: none;
    position: absolute;
    justify-content: left; 
    align-items: center;
    column-gap: 5px;
    font-size: 13px;
    color: var(--errorColor);
    font-weight: bold;
    top: 9%;
    right: 4%;
    width: 300px;
    max-width: 300px;
    height: 2.5rem;
}

#createError2{
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    font-size: 13px;
    color: var(--errorColor);
    font-weight: bold;
    margin-top: 7px;
}

#uploadExcel{
    position: absolute;
    right: 2%;
    top: 2%;
    border: var(--color1) dashed 3px;
    font-size: 18px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

#downloadTemplate{
    position: absolute;
    right: 3%;
    top: 5%;
    font-size: 20px;
    cursor: pointer;
}

#uploadExcelIcon,#downloadTemplateIcon{
    font-size: 20px;
    color:var(--color1)
}

#uploadExcel:hover{
    color:var(--color7);
    background-color: var(--color1);
}

#uploadExcel:hover #uploadExcelIcon{
    color: white;
}

#uploadExcel:hover #showActionExcel{
    display: block;
}

#downloadTemplate:hover #showActionTemplate{
    display: block;
}

#showActionExcel{
    display: none;
    padding: 2px 5px;
    position: absolute;
    font-size: 12px;
    border-radius: 3px;
    color: var(--color1);
    top:105%;
    text-align: center;
    width: 80px;
}

#showActionTemplate{
    display: none;
    padding: 2px 5px;
    position: absolute;
    font-size: 12px;
    border-radius: 3px;
    color: var(--color1);
    top:-4%;
    right: 40%;
    text-align: center;
    width: 80px;
}

/*------okPopup------*/
.okPopup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.okContent{
    margin: 12% 46%;
    padding: 10px 20px;
    width: max-content;
    border-radius: 5px;
    background-color: white;
    border: green solid 3px;
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.okIcon{
    color: green;
    font-weight: bold;
    font-size: 30px;
}

.okText{
    font-size: 15px;
    color: green;

}

/*----------info popups----------*/
.showActionPopup{
    display: none;
    padding: 2px 5px;
    position: absolute;
    font-size: 12px;
    border-radius: 3px;
    color: var(--color1);
    top:-25px;
    text-align: center;
    width: 150px;
}

