<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">    
    <script src="https://kit.fontawesome.com/acec93ee08.js" crossorigin="anonymous"></script>
    <!---<script src="https://example.com/fontawesome/v6.2.1/js/all.js" data-auto-a11y="true"></script>--->
    <link rel="icon" type="image/jpg" href="/images/faviconSchema.jpg"/>


    <!---CSS-->
    <link rel="stylesheet" href="/css/display.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/generals.css">
    <link rel="stylesheet" href="/css/inputs.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/popups.css">
    <link rel="stylesheet" href="/css/styles.css">



    <link rel="stylesheet" href="/css/old/styles.css">
    <link rel="stylesheet" href="/css/old/styles2.css">
    <link rel="stylesheet" href="/css/old/header.css">
    <link rel="stylesheet" href="/css/old/commission.css">
    
    <!---Alertify-->
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

    <!--- to avoid cache-->
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title><%= title %></title>
</head>
